{% extends 'admin/base_admin.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <h1>Nouvelle catégorie</h1>

    {{ include('admin/categories_admin/_form.html.twig') }}
<div class="d-flex mt-3">
    <a href="{{ path('app_categories_admin_index') }}" class="btn btn-info"><i class="fa-solid fa-chevron-left fa-sm mr-3"></i>Retour</a>
</div>
{% endblock %}
